.venv
dist
build
.next
.cache
*.db
*.sqlite
*.sqlite-journal
*.log
node_modules
.DS_Store
.env
.env.*
*.spec.js
*.spec.ts
*.test.js
*.test.ts
*.e2e.js
*.e2e.ts
*.d.ts
*.map
*.tsbuildinfo
.idea
.vscode
.pytest_cache
.mypy_cache
*.egg-info
.pytype
__pycache__
out_audio